/* basis lay-out van pagina */
#bedank{
    display: grid;
    margin: 10px;
    grid-template-rows: 30%;
    height: 600px;
}

/* bovenste banner */
#danktop {
    background-color: #36a0ba;
    grid-column: 1/span 3;
    color: white;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 5px black;
}

/* de blokjes */
.dankside{
    display: grid;
    margin: 10px;
    grid-template-columns: 50% 50%;
    box-shadow: 1px 1px 3px;
    background-color: #fefefe;
    color: #656565;
}

/* eerste blokje, ivm de overflow en omdat 't een kolom is*/
.danksidef{
    margin: 10px;
    box-shadow: 1px 1px 3px;
    background-color: #fefefe;
    color: #656565;
    max-height: 241.6px;
    overflow-y: auto;
}

/* margin voor de tekst */
.danksidef p{
    margin-left: 5px;
}

/* lay-out binnen de blokken */
.col {
    margin-left: 5px;
}

@media screen and (max-width: 450px) {
    /*responsive spul*/
    #bedank{
        height: 1000px;
        grid-template-rows: 20%;
    }

    #danktop{
        grid-column: 1;
    }

    .dankside{
        grid-template-columns: 40% 60%;
    }
    
    .col{
        overflow: hidden;
    }
}