.bestelpage{
    display: grid;
    font-size: 20px;
}

.bestel{
    margin: 10px;
    font-size: large;
    grid-column: 2;
    display: grid;
    grid-template-columns: 22% 56% 20%;
    grid-template-rows: 60%;
}

.bestel p{
   margin: 9px;
}

.bestel input{
    border: 1px solid grey;
    height:20px;
    width: 120px;
    border-radius: 5px;
    padding-left: 5px;
}

.bestel input[type="radio"]{
    width: 15px;
    accent-color: #4f5052;
}

.bestel input[type="checkbox"]{
    width: 15px;
}


#submitbutton{
    background-color: #4f5052;
    border: none;
    color: white;
    width: 90%;
    height: 30px;
    font-size: large;
    transition-duration: 0.4s;
}

#submit:hover{
    background-color:#a4a6aa;
    color: black;
}

.error{
    font-size: small;
    color: red;
}

#productinfo{
    grid-column: 1;
    grid-row: 1/span 2;
    display: grid;
    grid-template-columns: 60%;
    grid-template-rows: 40px;
}

#row1, #row2, #row3{
    grid-column: 1/span 2;
    background-color: #36a0ba;
    color: white;
    font-size: 25px;
}

#personalia{
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 30%;
    grid-template-rows: 40px;
}

#col3, #col4, #col5, #col6{
    display: grid;
}

#verzendinfo{
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 30%;
    grid-template-rows: 40px;
}

#betaalinfo{
    display: grid;
    grid-template-rows: 40px;
}

#row4{
    background-color: #36a0ba;
    color: white;
    font-size: 25px;
}

#bestelknoppen{
    font-size: 15px;
}

@media screen and (max-width: 450px){
    .bestel{
        grid-template-columns: 90%;
        grid-template-rows: auto;
    }

    #productinfo{
        grid-row: 1;
    }

    #personalia{
        grid-column: 1;
        grid-row: 2;
        grid-template-columns: 50%;
    }

    #verzendinfo{
        grid-column: 1;
        grid-row: 3;
        grid-template-columns: 50%;
    }

    #col3, #col4{
        grid-template-rows: 20% 30% 15% 15% 20%;
    }

    #col5, #col6{
        grid-template-rows: 50% 28% 30%;
    }

    #col6 select{
        width: 80%;
    }

    #submitbutton{
        width: 100%;
    }
}