#detailpage{
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% 60% 40%;
    min-height: 800px;
    column-gap: 40px;
}

#detailtitle{
    grid-column: 1/span 2;
    font-size: 50px;
    padding: 0%;
    justify-content: center;
    display: flex;
    font-weight: bold;
}

#detailpiccon{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 75% 25%;
    height: 450px;
    padding: 1%;
    box-shadow: 1px 1px 5px;
}

#detailpicbig{
    grid-column: 1/span 3;
    display: grid;
    margin-bottom: 1%;
}

.detimg{
    height: 100%;
    max-width: 100%;
    justify-self: center;
    overflow: hidden;
}

.detailpicsmall{
    display: grid;
    border: .5px solid #a4a6aa;
    margin: 3%;
}

#detailtext{
    height: 450px;
    width: 80%;
    justify-self: center;
    display: grid;
    align-content: space-evenly;
    justify-content: center;
}

#detailprice{
    font-weight: bolder;
    font-size: 50px;
    justify-self: center;
}

#addcart{
    background-color: #36a0ba;
    border: none;
    width: 100%;
    height: 50px;
    font-size: large;
    color: white;
    transition-duration: .3s;
}

#addcart:hover{
    background-color: #076178;
}

#addfave{
    background-color: #4f5052;
    border: none;
    width: 100%;
    height: 50px;
    font-size: large;
    color: white;
    transition-duration: .3s;
}

#addfave:hover{
    background-color: #a4a6aa;
    color: black;
}

#detailinfo{
    font-size: large;
    width: 80%;
}

#extraproducten{
    max-height: 200px;
    background-color: #36a0ba;
    display: grid;
    grid-row: 3;
    grid-column: 1/span 2;
    grid-template-columns: 25% 25% 25% 25%;
    align-content: center;
    justify-items: center;
}

.extra {
    max-height: 200px;
}

.extraimg{
    display: flex;
    justify-content: center;
}

.extraimg img{
    max-height: 100px;
}

@media screen and (max-width: 450px){
    #detailpage{
        grid-template-columns: 100%;
        grid-template-rows: 50% 15%;
    }

    #detailtitle{
        grid-column: 1;
        grid-row: 2;
        border-bottom: 1px solid black;
    }

    #detailpiccon{
        align-self: center;
        grid-row:1;
    }

    #detailtext{
        height: 350px;
        align-content: center;
    }

    #detailprice{
        font-weight: bold;
        font-size: 40px;
    }
}