#wagen {
    width: 80%;
    justify-self: center;
    display: grid;
    grid-template-columns: 60% 30%;
}

#wwtxt{
    font-size: 50px;
    border-bottom: 1px solid black;
    grid-row: 1;
    grid-column: 1/span 2;
}

#date{
    font-style: italic;
    grid-row: 2;
    grid-column: 1/ span 2;
}

.items{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4) ;
    margin: 5%;
    display: grid;
    grid-template-columns: 5% 20% 40%;
    
}

.items img{
    transition-duration: .1s;
}

.items:hover img{
    max-height: 110px;
}

.itemimg{
    grid-column: 2;
    grid-row: 1/ span 3;
    margin: 3%;
}

.itemimg img{
    max-width: 100%;
    max-height: 100px;
}

.itemtitle{
    grid-column: 3;
    font-size: 30px;
    font-weight: bold;
    grid-row: 1;
    align-self: center;
}

.itemprice{
    grid-column: 4;
    grid-row: 1;
    align-self: center;
    justify-self: end;
    margin-right: 3%;
    opacity: 0.7;
}

.hoescheck{
    grid-column: 3;
    grid-row: 2;
    margin: 0%;
    align-self: center;
    font-style: italic;
}

.hoesprijs{
    grid-column: 4;
    grid-row: 2;
    align-self: center;
    justify-self: end;
    margin-right: 3%;
    opacity: 0.5;
}

.itemtotal{
    grid-column: 4;
    grid-row: 3;
    font-size: 25px;
    font-weight: bold;
    margin: auto;
}