#wagen {
    width: 85%;
    min-height: 500px;
    justify-self: center;
    display: grid;
    grid-template-columns: 60% 30%;
    grid-template-rows: 50px 10px;
}

#wwtxt{
    font-size: 50px;
    border-bottom: 1px solid black;
    grid-row: 1;
    grid-column: 1/span 2;
}

#date{
    font-style: italic;
    grid-row: 2;
    grid-column: 1/ span 2;
}


.items{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4) ;
    margin: 5%;
    display: grid;
    grid-template-columns: 5% 20% 40%;
    transition-duration: .3s;
}

.items:hover{
    box-shadow: 1px 1px 5px black;
}

.itemimg{
    grid-column: 2;
    grid-row: 1/ span 3;
    margin: 3%;
}

.itemimg img{
    max-width: 100%;
    max-height: 100px;
}

.itemtitle{
    grid-column: 3;
    font-size: 30px;
    font-weight: bold;
    grid-row: 1;
    align-self: center;
}

.itemprice{
    grid-column: 4;
    grid-row: 1;
    align-self: center;
    justify-self: end;
    margin-right: 3%;
    opacity: 0.7;
}

.hoescheck{
    grid-column: 3;
    grid-row: 2;
    margin: 0%;
    align-self: center;
    font-style: italic;
}

.hoesprijs{
    grid-column: 4;
    grid-row: 2;
    align-self: center;
    justify-self: end;
    margin-right: 3%;
    opacity: 0.5;
}

.itemtotal{
    grid-column: 4;
    grid-row: 3;
    font-size: 25px;
    font-weight: bold;
    margin: auto;
}

#overzicht{
    display: grid;
    grid-template-rows: 7% 20% 15% 10%;
    max-height: 500px;
}

#overzichttext{
    background-color: #4f5052;
    color: white;
    font-size: larger;
    padding: 2%;
    padding-left: 30%;
    align-self: center;
}

#lijstprijs{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2%;
    margin: 1px;
}

#total{
    justify-self: end;
    font-size: 50px;
    border-top: 2px solid black;
}

#besknop{
    background-color: #076178;
    color: white;
    width: 90%;
    justify-self: end;
    font-size: 20px;
    border: none;
    transition-duration: .3s;
    text-decoration: none;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#besknop:hover{
    background-color: #36a0ba;
    box-shadow: 1px 1px 5px #076178;
}

@media screen and (max-width: 450px){
     #overzicht{
        grid-row: 3;
        align-items: center;
        grid-template-rows: 30px;
    }

    #imgcon{
        grid-row: 4;
        width: 100%;
    } 

    #wagen{
        grid-template-columns: 100%;
        grid-template-rows: 50px 40px
    }

    .itemimg{
        align-self: center;
    }

    #besknop{
        height: 40px;
        width: 100%;
    }

    .itemtitle{
        font-size: 25px;
    }

    #overzichttext{
        font-size: 25px;
    }

    #lijstprijs{
        font-size: 20px;
    }

    #total{
        font-size: 40px;
    }
}